<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Demo</title>
<script type="text/javascript"></script>
<style type="text/css">
#menu {
	font-family: tahoma;
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
</style>

</head>

<body>
	<div id="menu">
		<a href="/">Home</a>
	</div>

	<p align="center">
		<iframe style="width:817px; height:400px; border: 1px solid black;" src="Media2.mp4" frameborder="2" allowfullscreen></iframe>
	</p>
</body>
</html>